.parent-wrapper {
	width: 100%;
	height: 90vh;
	border: 5px ridge var(--black);
	position: relative;
	border-radius: 10px;
	overflow: hidden;
}

.wrapper-header-container {
	width: 100%;
	height: 80px;
	position: absolute;
	top: 0;
}

.position-container {
	height: 100%;
	width: 150px;
	flex-direction: column;
	justify-content: space-around;
	position: absolute;
	right: 50px;
	display: none;
}

.position-span {
	color: var(--font-color-secondary);
	width: 40px;
	height: 40px;
	text-align: center;
	border: 2px ridge var(--font-color-secondary);
	font-family: var(--project-font);
	place-content: center;
	border-radius: 50%;
	font-weight: 600;
}

.planet-container {
	width: 25%;
	height: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-shrink: 0;
}

.planet-container:hover {
	background: var(--black);
}

.img-container {
	width: 200px;
	height: 200px;
	display: none;
}

.img-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.info-container {
	width: 180px;
	height: 100px;
	flex-direction: column;
	justify-content: space-around;
}

.planet-toggler {
	width: 100px;
	height: 30px;
	border-radius: 10px;
	background-color: black;
	color: var(--font-color-secondary);

	box-shadow: var(--txt-shadow);
}

.planet-container:hover .img-container {
	display: flex;
}

.planet-container.open-container {
	width: 100%;
	background-color: var(--black);
	transition: width ease-in 0.8s;
}

.planet-container.open-container > .img-container {
	display: flex;
	width: 380px;
	height: 380px;
	position: relative;
}

.planet-container.open-container > .info-container {
	position: absolute;
	bottom: 10px;
	left: 0;
}

.planet-container.open-container h2 {
	display: block;
	color: var(--font-color-main);
	text-shadow: var(--txt-shadow);
	width: 100%;
	text-align: center;
	z-index: 1;
	font-size: 10rem;
	position: absolute;
}

.facts-wrapper {
	width: 300px;
	height: 300px;
	flex-direction: column;
	z-index: 2;
	position: absolute;
	top: 20%;
	justify-content: space-evenly;
	display: none;
}

.facts-container-left {
	left: 0;
}

.facts-container-right {
	right: 0;
}

.facts-span {
	width: 80%;
	height: 40px;
	border: 1px ridge var(--font-color-secondary);
	color: var(--font-color-secondary);
	border-radius: 10px;
	place-content: center;
	margin-left: 5px;
	text-align: center;
	box-shadow: 2px 2px 2px 1px var(--font-color-main);
}

.name-span {
	width: fit-content;
	height: fit-content;
	color: var(--font-color-secondary);
	position: absolute;
	bottom: 10%;
	font-family: var(--project-font);
	font-size: 1rem;
	text-wrap: no-wrap;
	display: none;
}

.flex-active {
	display: flex;
}

.flex-inactive {
	display: none;
}
